<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I'm an IT professional with a focus on Linux and UNIX administration. I'm working on learning more about cloud technologies like Azure and also have an interest in cybersecurity.
            </p>
            <p class="paragraph-text justify-text">
                My hobbies include playing guitar and piano and also signing. I love playing video games, especially ARPG games like Path Of Exile 2. I have a small collection of retro game consoles, like the NES, Super Famicom, Genesis etc. I'm a fan of <a href="https://www.analogue.co"></a>Analouge</a> who makes FPGA hardware that plays original retro gaming system cartridges. I also dabble in repairing retro consoles and other small electronics.
            </p>
        </div>
    </section>
</div>
